@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

:root {
  --bg-color: #f4f3fd;
  --primary-color: #b890e8;
  --secondary-color: #6e59ce;
  --text-color: #151e42;
  --placeholder-color: #757b91;
  --shadow-color: #d3d9e6;
  --icon-color: #c3a5eb;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
}

body {
  font-family: 'Poppins', sans-serif;
  background-color: var(--bg-color);
}

.container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  min-height: 50vh;
  padding: 20px;
  max-width: 800px;
  margin: 10vh auto;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 5px 20px var(--shadow-color);
}

.card-1 {
  background: linear-gradient(120deg, #b890e8, #6e59ce);
  color: #fff;
  max-width: 300px;
  padding: 40px 30px 100px;
  border-radius: 5px 0 0 5px;
}

.card-1 i {
  color: #dddddd;
}

.card-1 h3 {
  font-weight: 400;
  font-size: 16px;
  padding: 5px 0 10px;
  max-width: 250px;
}

.card-1 p {
  font-size: 13px;
  max-width: 200px;
  padding-bottom: 20px;
}

.card-2 {
  color: var(--text-color);
}

.card-2 h1 {
  padding: 50px 0 20px;
  font-size: 20px;
}

.form-control {
  display: flex;
  flex-direction: column;
  max-width: 300px;
}

.form-control label {
  font-size: 12px;
  font-weight: 600;
  padding-bottom: 5px;
}

.form-control input {
  padding: 12px;
  margin-bottom: 20px;
  font-family: inherit;
  font-weight: 600;
  border: 1px solid var(--shadow-color);
  border-radius: 5px;
}

.form-control input::placeholder {
  font-family: 'Poppins', sans-serif;
  font-size: 11px;
}

.form-control input[type='submit'] {
  font-size: 12px;
  font-family: inherit;
  font-weight: 600;
  background-color: var(--secondary-color);
  color: #fff;
  border: 2px solid var(--secondary-color);
  outline: none;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 10px 20px var(--shadow-color);
  transition: background-color 0.4s;
}

.form-control input[type='submit']:hover {
  cursor: pointer;
  background-color: transparent;
  color: var(--secondary-color);
}

.form-control .check {
  display: flex;
  text-align: center;
  font-size: 13px;
}

.form-control .check input {
  cursor: pointer;
}

.form-control .check small {
  margin-left: 5px;
}

@media (max-width: 800px) {
  .container {
    max-width: 700px;
  }
}

@media (max-width: 700px) {
  .container {
    grid-template-columns: 1fr;
    max-width: 500px;
    padding: 40px 0;
  }

  .card-1 {
    max-width: 400px;
    padding: 30px;
    margin: auto;
    border-radius: 5px;
  }

  .card-1 p {
    max-width: 400px;
  }

  .card-2 {
    padding: 60px 0;
  }

  .card-2 h1 {
    text-align: center;
  }

  .form-control {
    max-width: 400px;
    margin: auto;
  }
}

@media (max-width: 500px) {
  .container {
    max-width: 400px;
  }

  .card-1 {
    max-width: 350px;
  }

  .form-control {
    max-width: 350px;
  }
}

@media (max-width: 400px) {
  .container {
    max-width: auto;
    margin: 15vh auto;
  }

  .card-1 {
    max-width: 300px;
  }

  .form-control {
    max-width: 300px;
  }
}

@media (max-width: 300px) {
  .card-1 {
    max-width: 270px;
  }

  .card-1 h3 {
    font-size: 14px;
  }

  .card-1 p {
    font-size: 12px;
  }

  .form-control {
    max-width: 270px;
  }

  .form-control .check {
    padding: 20px 0 30px;
  }

  .form-control .check small {
    text-align: left;
  }
}
