@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

ul {
  list-style-type: none;
}

img {
  max-width: 100%;
}

body {
  font-family: 'Poppins', sans-serif;
  text-align: center;
  background-color: #9ecad1;
}

.container {
  max-width: 300px;
  margin: 10vh auto;
}

h1,
p {
  color: #020731;
}

h1 {
  font-size: 24px;
  padding-bottom: 30px;
  line-height: 1.3;
}

ul {
  text-align: left;
  padding: 30px 0 0 30px;
}

ul li {
  margin: 15px 0;
}

ul li a {
  color: #020731;
}

@media (min-width: 500px) {
  .container {
    max-width: 400px;
  }
}

@media (min-width: 700px) {
  .container {
    max-width: 600px;
  }
}
